.container{
    width: 100%;
    display: grid;
    grid-template-areas:
    "titulo titulo"
    "botao botao"
    "subtitulo subtitulo"
    "b1 b2";
    column-gap: 10px;
    text-align: center;

}

:root {
    --text-color: white; 
    --switch-bg-url: url(./background/modoescuro.png);
    --background-color: black;
}

.light {
    --text-color: black;
    --switch-bg-url:  url(./background/modoclaro.png);
    --background-color: white;
}

body {
    background: var(--background-color);
}

body *{
    color: var(--text-color);
}

#box-1{
    grid-area: b1;
    background-color: #062C63;
    opacity: 1;
    transition: opacity 0.5s ease;
    height: 500px;
    margin-bottom: 100px;
}

#box-1:hover{
    opacity: 0.5;
}

#box-2{
    grid-area: b2;
    background-color: #D00C27;
    opacity: 1;
    transition: opacity 0.5s ease;
    height: 500px;
    margin-bottom: 100px;
}

#box-2:hover{
    opacity: 0.5;
}

#titulo{
    grid-area: titulo;
    font-family: 'Merriweather', serif;
    font-size: 50px;
}

#botao{
    grid-area: botao;
    background-color: rgba(214, 214, 214);
    position: relative;
    width: 64px;
    margin: 4px auto;
    border-radius: 999px;
}

#botao button{
    width: 32px;
    height: 32px;
    background: white no-repeat center;
    background-image: var(--switch-bg-url);
    background-size: 27px 27px;
    border: 0;
    border-radius: 50%;

    position: absolute;
    top: 50%;

    left: 0;
    z-index: 1;
    transform: translateY(-50%);
}

.light #botao button {
    right: 0;
    left: initial;
}

#botao span {
    display: block;
    width: 64px;
    height: 24px;
    border-radius: 9999px;
}

#subtitulo{
    grid-area: subtitulo;
    font-family: 'Lora', serif;
    font-size: 25px;
}

.box{
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-right: 200px;
    margin-left: 200px;
}

.box img{
    width: 80%;
    height: auto;
    margin-top: 25px;
}

.box-subtitulo{
    margin-top: 300px;
}